<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LexiGen - AI Models</title>
    <style>
        .btn{
            display: inline-block;
            margin: 10px;
            padding: 12px 25px;
            font-size: 16px;
            text-decoration: none;
            border-radius: 6px;
            background: #007BFF;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Welcome <%= user ? user.username : "Guest" %>!</h1>
    this i sthe main model for genai exchange hackathon
     <a href="/logout" class="btn">Logout</a>
</body>
</html>